<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Gestión de Empleados</h1>
    <%- include('empleados') %> <!-- Esto incluirá empleados.ejs aquí -->
</body>
</html>
